Worlds/
upload/
logs/
*.jar
BuildData/
BuildTools.log.txt
Bukkit/
CraftBukkit/
Spigot/
apache-maven-3.6.0/
etc/griefprevention.link
help.yml
*.log
launch-spigot.sh
permissions.yml
spigot.yml
work/
worlds/
